*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.square{
    width: 220px;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    color: rgba(255,255,255,0.5);

    animation: show 0.4s ease;
}

@keyframes show{
    from{
        transform: translateY(-20px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}